@import url(reset.css);
@import 'mixins.scss';
@import 'variables';

input{
    width: $inputWidth;
    padding: 12px 20px;
    margin: 8px $margin;
    box-sizing: border-box;
}

textarea{
    width: $inputWidth;
    margin: $margin;
}

form{
    padding: 10px;
}
